<div class="center">
  <h1>My form with types</h1>

  <form [formGroup]="myForm">
    <!-- Name -->
    <!-- <input type="text" formControlName="username" /> -->

    <!-- Array -->
    <ng-container formArrayName="roleIds">
      <ng-container
        *ngFor="let _ of roleIds.controls; let idx = index"
        [formGroupName]="idx"
      >
        <div class="form-fields">
          <input type="text" formControlName="id" />
          <button (click)="removeColor(idx)">X</button>
        </div>
      </ng-container>
    </ng-container>

    <button (click)="add()">Add new</button>
  </form>
</div>
<br />
<!-- Button to set the form -->
<button (click)="setValueForm()">Set Value form</button>
<!-- Button to patch the form -->
<button (click)="patchForm()">Patch form</button>

<pre>{{ myForm.value | json }}</pre>
